--index-url https://download.pytorch.org/whl/cu118

torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1

--index-url https://pypi.org/simple
matplotlib==3.5.0
scikit-image==0.19.3
scikit-video==1.1.11
scipy==1.9.3
opencv-contrib-python
progressbar==2.5
gradio==5.13.0
