.grid-wrap.svelte-842rpi.svelte-842rpi {
    overflow-y: hidden !important;
    min-height: fit-content;
    max-height: fit-content;
}

.gr-button-custom {
    max-width: 160px !important;
    align-self: center;
}
.gr-button-custom-stop {
    max-width: 160px !important;
    align-self: center;
    background-color: #FF0000;
}
.gr-column {
    background-color: #393939 !important;
}

.input-images{
    max-width: fit-content;
    min-width: 280px !important;
}

.toggles {
    max-width: fit-content;
    border-radius: 10px !important;

}

.row-toggles {
    align-self: anchor-center;
}

div.svelte-633qhp {
    background: none !important;
    border: none !important;
}

.centered-header {
    background-color: #737373;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: white;
}
